@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(45deg, #ff5733, #6e61e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  @apply !outline-none !border-none !text-white font-bold;
}
